.team .title {
	margin: 50px 0;
}

.row.title {
	padding: 0 20px;
}


.margin-top {
	margin-top: 150px;
}

.gray-bg {
	background: #0dbfaf;
}

.muted {
	color: #989da0;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.white {
	color: white;
}

.light-white {
	color: white;
}

.team {
	margin: 10px 0;
	padding-bottom: 20px;
	background: white;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
}

.team .cover .overlay {
	height: 150px;
	padding-top: 20px;
	opacity: 0;
	background: #0dbfaf;
	-webkit-transition: opacity 0.45s ease;
	transition: opacity 0.45s ease;
}

.team:hover .cover .overlay {
	opacity: 1;
}

.team .avatar {
	position: relative;
	z-index: 2;
	margin-top: -60px;
	border-radius: 50%;
}






